@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove as setas no Chrome, Safari, Edge, Opera */
.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setas no Firefox */
.no-spin {
  -moz-appearance: textfield;
}